.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

button:focus {
  outline: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#container {
  display: flex;
  flex-direction: column;
}

.categories {
  padding: 10px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
}

#tool{
  margin:auto;
}

#toolSearch{
  position: sticky;
  background-color: white;
  margin: auto;
  /* right:0.5vh;
  top: 0.5vh; */
  background-color:white;
  color: #4A8E51;
}

#searchButton{
  position: absolute;
  height:60px;
  right: 0px;
  color: #4A8E51;
}

#buttonWhite{
  background-color: white;
}

#plantica{
  color: #4A8E51;
  text-align: center;
}

#link{
  margin-left: 32px;
  color: white
}

#onlineUsers {
  position: absolute;
  font-size: 2vh;
  top: 80px;
  text-align: left;
  color: #4A8E51;
  width: 200px
}

#messages {
  font-size: 3vh;
  list-style-type: none;
  margin-left: 200px;
  text-align: left;
}